
@{
    Layout = null;
}
@using AdminLayout.Areas.Admin.Models
@model PasswordResetModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PasswordReset</title>
    @System.Web.Optimization.Styles.Render("~/bundles/styles")
</head>
<body>
    <body class="bg-dark">
        <div class="container">
            <div class="card card-login mx-auto mt-5">
                <div class="card-header">Parola Resetle</div>
                <div class="card-body">
                    <div class="text-center mt-4 mb-5">
                        <h4>Parolanımı Unuttun?</h4>
                        <p>Email adresini ver, parolanı al.</p>
                    </div>
                    <form>
                        <label>@ViewBag.Message</label>
                        @using (Html.BeginForm())
                            {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Email, new { type = "email", @placeholder = "E-Posta Adresiniz", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Email)
                            <div class="text-center">
                                <input type="submit" class="btn btn-primary btn-block" name="name" value="GÖNDER" />
                            </div>
                        </div>
                            }

                    </form>
                   
                </div>
            </div>
        </div>
        @System.Web.Optimization.Scripts.Render("~/bundles/scripts")
    </body>
</body>
</html>
