@{
    Layout = null;
}

@using AdminLayout.Areas.Admin.Models
@model PasswordResetModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PasswordReset</title>
    @System.Web.Optimization.Styles.Render("~/bundles/styles")
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Parola Resetle</div>
            <div class="card-body">
                <div class="text-center mt-4 mb-5">
                    <h4>Parola Onay!</h4>
                </div>
                @using (Html.BeginForm())
                {
                    <label>@ViewBag.Message</label>

                    @Html.AntiForgeryToken()

                    <label>@Model.Email</label>
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.Email, new { @type = "hidden", @placeholder = "E-Posta adresiniz", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Email)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.Password, new { @type = "password", @placeholder = "Parola", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Password)
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(x => x.PasswordConfirm, new { @type = "password", @placeholder = "Parola Tekrar", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.PasswordConfirm)
                    </div>

                    <div class="text-center">
                        <input type="submit" class="btn btn-primary btn-block" name="name" value="Onayla" />
                    </div>
                }
            </div>
        </div>
    </div>

    @System.Web.Optimization.Scripts.Render("~/bundles/scripts")
</body>
</html>